@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/*Full-Page*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{  
  background: #FFFFFF;
  padding: 0 10px;
}

/*Nav-Bar*/
h2.my-name-top{
    font-family: "Montserrat";
    font-size: 30px;
    color: #583924;
    font-weight: bold;
    padding-top: 0.2cm;
}
.my-name-top h1{
    font-family: "Montserrat";
    font-size: 30px;
    color: #583924;
    font-weight: bolder;
    padding-top: 0.2cm;
}
h1{
  font-weight: 500;
}
.agree-msg{
    padding-top: .2cm;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
 }
 .nav-link{
    font-size: 17px;
}


.bg-primary {
  background-color: #fbdb8f!important;
}
.btn-dark{
  background-color: #583924;
}






/*Wrapper - Registration*/
.wrapper{
  max-width: 700px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 2px rgba(0.125,0.125,0.125,0.125);
  padding: 30px;
  margin-top: 1cm;
  border-style: groove;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #583924;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}



.wrapper .form .inputfield .input:focus
{
  border: 1px solid #ec440b;
}



.wrapper .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #583924;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover{
  background: #ec440b;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
}
